on init
    # Set Hardware properties
    setprop ro.hardware.sensors james

    # Variant properties
on property:ro.boot.hardware.sku=XT1921-3
    setprop ro.product.model XT1921-3
    setprop ro.product.name james
    setprop ro.hw.ecompass false
    setprop ro.mot.sensors.chopchop false
    setprop ro.mot.sensors.camgest false
